body {
     background-color: lightslategray;
    color: white;
    text-align: center;
    margin-top: 16%;
    margin-left: 10%;
    margin-right: 10%;
}

.formacad{
    color: black;
}
