body {
    background-color: lightslategray;
    color: white;
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    color: black;
}


